@model IEnumerable<CarDetailingStudio.Models.ModelViews.ClientsOfCarWashView>

@{
    ViewBag.Title = "Client";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="card-title m-b-0">Clients</h5>
                    </div>
                    <div class="col-md-6 text-right">
                        @Html.ActionLink("Create New", "AddClient", null, new { @class = "btn btn-info" })
                    </div>
                </div>

            </div>
            <table class="table">
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Surname)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.PatronymicName)
                    </th>

                    <th scope="col">
                        @Html.DisplayNameFor(model => model.DateRegistration)
                    </th>

                    <th scope="col">
                        @Html.DisplayNameFor(model => model.discont)
                    </th>

                    <th scope="col">
                        @Html.DisplayNameFor(model => model.NumderCar)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.IdClientsGroups)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Idmark)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Idmodel)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.IdBody)
                    </th>

                    <th scope="col">
                        Action
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatronymicName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.DateRegistration)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.discont)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.NumderCar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdClientsGroups)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Idmark)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Idmodel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdBody)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ib }, new { @class = "btn btn-cyan btn-sm" }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ib }, new { @class = "btn btn-success btn-sm" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>

