@model CarDetailingStudio.Models.ModelViews.ClientsOfCarWashView

@{
    ViewBag.Title = "NewOrder";
}

    <link href="~/Content/input.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form class="form-horizontal">
                <div class="card-body">
                    @*  <h4 class="card-title">Personal Info</h4>*@
                    <div class="form-group row">
                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">Номер машины</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.NumberCar)
                        </label>

                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">Марка/Модель</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.car_mark.name) @Html.DisplayFor(model => model.car_model.name)
                        </label>

                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">Тип кузова</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.CarBody.Name)
                        </label>

                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">Ф.И.О</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.ClientInfo.Surname) @Html.DisplayFor(model => model.ClientInfo.Name)  @Html.DisplayFor(model => model.ClientInfo.PatronymicName)
                        </label>
                    </div>
                </div>

                @*<div class="border-top">
                        <div class="card-body">
                            <button type="button" class="btn btn-primary">Submit</button>
                        </div>
                    </div>*@
                @*<p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ib }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>*@
            </form>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body col-md-6">
                    <h5 class="card-title m-b-0">Detailings</h5>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>

                                <th>
                                    <label class="customcheckbox m-b-20">
                                        <input type="checkbox" id="mainCheckbox" />
                                        <span class="checkmark"></span>
                                    </label>
                                </th>

                                <th scope="col">services_list</th>
                                <th scope="col">validity</th>
                                <th scope="col">Grop</th>
                                <th scope="col">Body</th>
                            </tr>
                        </thead>
                        <tbody class="customtable">
                            @foreach (var item in ViewBag.Detailings)
                            {
                            <tr class="Search">

                                <th>
                                    <label class="customcheckbox">
                                        @*<input type="checkbox" class="listCheckbox" />*@
                                        @* <input type="checkbox" name="chkRow" value="@item.Id" />*@
                                        <label class="label">
                                            <input class="label__checkbox" type="checkbox" name="chkRow" value="@item.Id" />
                                            <span class="label__text">
                                                <span class="label__check">
                                                    <i class="fa fa-check icon"></i>
                                                </span>
                                            </span>
                                        </label>
                                        <span class="checkmark"></span>
                                    </label>
                                </th>

                                <td>@item.services_list</td>
                                <td>@item.validity</td>
                                <td>@item.group</td>
                                @switch (Model.CarBody.Id)
                                {
                                    case 1:
                                        <td>@Math.Ceiling(item.S)</td>
                                        break;
                                    case 2:
                                        <td>@Math.Ceiling(item.M)</td>
                                        break;
                                    case 3:
                                        <td>@Math.Ceiling(item.L)</td>
                                        break;
                                    case 4:
                                        <td>@Math.Ceiling(item.XL)</td>
                                        break;
                                }

                            </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @*<div class="col-md-6">
            <div class="card">
                <div class="card-body col-md-6">
                    <h5 class="card-title m-b-0">WashServices</h5>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>
                                    <label class="customcheckbox m-b-20">
                                        <input type="checkbox" id="mainCheckbox" />
                                        <span class="checkmark"></span>
                                    </label>
                                </th>
                                <th scope="col">services_list</th>
                                <th scope="col">Body</th>
                            </tr>
                        </thead>
                        <tbody class="customtable">
                            @foreach (var item in ViewBag.WashServises)
                            {
                            <tr class="Search">
                                <th>
                                    <label class="customcheckbox">
                                        <label class="label">
                                            <input class="label__checkbox" type="checkbox" name="chkRow" value="@item.Id" />
                                            <span class="label__text">
                                                <span class="label__check">
                                                    <i class="fa fa-check icon"></i>
                                                </span>
                                            </span>
                                        </label>
                                        <span class="checkmark"></span>
                                    </label>
                                </th>

                                <td>@item.services_list</td>
                                @switch (Model.CarBody.Id)
                                {
                                    case 1:
                                        <td>@Math.Ceiling(item.S)</td>
                                        break;
                                    case 2:
                                        <td>@Math.Ceiling(item.M)</td>
                                        break;
                                    case 3:
                                        <td>@Math.Ceiling(item.L)</td>
                                        break;
                                    case 4:
                                        <td>@Math.Ceiling(item.XL)</td>
                                        break;
                                }

                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>*@
    </div>
    <input class="btn btn-outline-info" type="submit" id="btnCreate" value="Create" @Url.Action("OrderPreview", "ClientsOfCarWashViews") />
}

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>

    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });

</script>