@model CarDetailingStudio.Models.ModelViews.ClientsOfCarWashView

@{
    ViewBag.Title = "NewOrder";
}

<link href="~/Content/input.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form class="form-horizontal">
                <div class="card-body">
                    <div class="form-group row">
                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">Номер машины</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.NumberCar)
                        </label>

                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">Марка/Модель</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.car_mark.name) @Html.DisplayFor(model => model.car_model.name)
                        </label>

                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">Тип кузова</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.CarBody.Name)
                        </label>

                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">Ф.И.О</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.ClientInfo.Surname) @Html.DisplayFor(model => model.ClientInfo.Name)  @Html.DisplayFor(model => model.ClientInfo.PatronymicName)
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@using (Html.BeginForm())
{
    <div class="scroll">
        <div class="row">
            <div class="col-md-6">
                @foreach (var itemGroup in ViewBag.DetailingsGrup)
                {
                    if ((itemGroup.Id % 2) != 0)
                        {
                        <div class="card">
                            <div class="card-body col-md-6">

                                <h5 class="card-title m-b-0">@itemGroup.group</h5>
                            </div>

                            <div class="table-responsive">
                                <table class="table">
                                    @foreach (var item in ViewBag.Detailings)
                                    {
                                        if (item.IdGroupWashServices == itemGroup.Id)
                                        {
                                            <tbody class="customtable">
                                                <tr class="Search">
                                                    <th>
                                                        <div class="row">
                                                            <div class="col-md-1">
                                                                <label class="customcheckbox">
                                                                    <label class="label">
                                                                        <input class="label__checkbox" type="checkbox" name="chkRow" value="@item.Id" id="checkme" onchange="document.getElementById('submit').disabled = !this.checked" />
                                                                        <span class="label__text">
                                                                            <span class="label__check">
                                                                                <i class="fa fa-check icon"></i>
                                                                            </span>
                                                                        </span>
                                                                    </label>
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                @item.services_list
                                                            </div>
                                                            <div class="col-md-3">
                                                                @item.validity
                                                            </div>
                                                            <div class="col-md-1">
                                                                @switch (Model.CarBody.Id)
                                                                {
                                                                    case 1:
                                                                        @Math.Ceiling(item.S)
                                                                        break;
                                                                    case 2:
                                                                        @Math.Ceiling(item.M)
                                                                        break;
                                                                    case 3:
                                                                        @Math.Ceiling(item.L)
                                                                        break;
                                                                    case 4:
                                                                        @Math.Ceiling(item.XL)
                                                                        break;
                                                                }

                                                            </div>
                                                            @if (item.forUnit == true)
                                                            {
                                                                <div class="col-md-1">
                                                                    <input type="hidden" value=@item.Id name="key" />
                                                                    <input class="newOrderInputText" name="values" value="1" maxlength="2" type="number" />
                                                                </div>
                                                            }
                                                        </div>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        }
                                    }
                                </table>
                            </div>
                        </div>
                    }
                }
            </div>
            <div class="col-md-6">
                @foreach (var itemGroup in ViewBag.DetailingsGrup)
                {
                   if ((itemGroup.Id % 2) == 0)
                        {
                        <div class="card">
                            <div class="card-body col-md-6">

                                <h5 class="card-title m-b-0">@itemGroup.group</h5>

                            </div>

                            <div class="table-responsive">
                                <table class="table">

                                    @foreach (var item in ViewBag.Detailings)
                                    {
                                        if (item.IdGroupWashServices == itemGroup.Id)
                                        {
                                            <tbody class="customtable">
                                                <tr class="Search">
                                                    <th>
                                                        <div class="row">
                                                            <div class="col-md-1">
                                                                <label class="customcheckbox">
                                                                    @*<input type="checkbox" class="listCheckbox" />*@
                                                                    @* <input type="checkbox" name="chkRow" value="@item.Id" />*@
                                                                    <label class="label">
                                                                        <input class="label__checkbox" type="checkbox" name="chkRow" value="@item.Id" id="checkme" onchange="document.getElementById('submit').disabled = !this.checked" />
                                                                        <span class="label__text">
                                                                            <span class="label__check">
                                                                                <i class="fa fa-check icon"></i>
                                                                            </span>
                                                                        </span>
                                                                    </label>
                                                                    <span class="checkmark"></span>
                                                                </label>
                                                            </div>
                                                            <div class="col-md-6">
                                                                @item.services_list
                                                            </div>
                                                            <div class="col-md-3">
                                                                @item.validity
                                                            </div>
                                                            <div class="col-md-1">
                                                                @switch (Model.CarBody.Id)
                                                                {
                                                                    case 1:
                                                                        @Math.Ceiling(item.S)
                                                                        break;
                                                                    case 2:
                                                                        @Math.Ceiling(item.M)
                                                                        break;
                                                                    case 3:
                                                                        @Math.Ceiling(item.L)
                                                                        break;
                                                                    case 4:
                                                                        @Math.Ceiling(item.XL)
                                                                        break;
                                                                }
                                                            </div>
                                                            @if (item.forUnit == true)
                                                            {
                                                                <div class="col-md-1">
                                                                    <input type="hidden" value=@item.Id name="key" />
                                                                    <input class="newOrderInputText" name="values" value="1" maxlength="2" type="number" />
                                                                </div>
                                                            }
                                                        </div>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        }
                                    }
                                </table>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="text-right">
        <p></p>
        <input class="btn btn-success" type="submit" id="btnCreate" value="Далее" @Url.Action("OrderPreview", "ClientsOfCarWashViews") />
    </div>
}


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });

    jQuery(document).ready(function ($) {
        // STOCK OPTIONS
        $('input.label__checkbox').change(function () {
            if ($(this).is(':checked'))
                $(this).next('div.max_tickets').show();
            else
                $(this).next('div.max_tickets').hide();
        }).change();
    });



    $('#service input:checkbox').click(function () {
        if ($(this).is(':checked')) {
            $('#service input:checkbox').not(this).prop('checked', false);
        }
    });

</script>
