@model IEnumerable<CarDetailingStudio.Models.ModelViews.OrderServicesCarWashView>

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/form.css" rel="stylesheet" />
<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card card-hover">
            <div class="box bg-cyan text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
                <h6 class="text-white">@Html.ActionLink("Оформить заказ", "../ClientsOfCarWashViews/Checkout", null, new { @class = "Order-link" })</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card card-hover">
            <div class="box bg-success text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-chart-areaspline"></i></h1>
                <h6 class="text-white">@Html.ActionLink("Просмотреть смену", "../ClientsOfCarWashViews/Checkout", null, new { @class = "Order-link" })</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card card-hover">
            <div class="box bg-warning text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                <h6 class="text-white">@Html.ActionLink("Клиенты", "../ClientsOfCarWashViews/Client", null, new { @class = "Order-link" })</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-3">
        <div class="card card-hover">
            <div class="box bg-danger text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
                <h6 class="text-white">@Html.ActionLink("Расходы", "../ClientsOfCarWashViews/Checkout", null, new { @class = "Order-link" })</h6>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-body">
                <h5 class="card-title m-b-0">Static Table</h5>
            </div>

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ClientsOfCarWash.NumderCar)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalCostOfAllServices)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StatusOrder)
                    </th>
                    <th>
                        ФИО
                    </th>
                    <th></th>
                </tr>
                <tbody class="customtable">
                    @foreach (var item in Model)
                    {
                        <tr class="Search">
                            <td>
                                @Html.DisplayFor(modelItem => item.ClientsOfCarWash.NumderCar)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalCostOfAllServices)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StatusOrder1.StatusOrder1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClientsOfCarWash.Surname) @Html.DisplayFor(modelItem => item.ClientsOfCarWash.Name) @Html.DisplayFor(modelItem => item.ClientsOfCarWash.PatronymicName)
                            </td>

                            <td>
                                @Html.ActionLink("О заказе", "OrderInfo", new { id = item.Id }, new { @class = "btn btn-outline-info" })
                                @Html.ActionLink("Закрыть заказ", "CloseOrder", new { id = item.Id }, new { @class = "btn btn-outline-success" })
                                <p><a href=@Url.Content("TestClose")></a></p>
                                @*@Html.ActionLink("Отменить", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger"})*@
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>

    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });

</script>