@model CarDetailingStudio.Models.ModelViews.OrderServicesCarWashView

@{
    ViewBag.Title = "OrderInfo";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form class="form-horizontal">
                <div class="card-body">
                    @*  <h4 class="card-title">Personal Info</h4>*@

                    <div class="form-group row">
                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">Номер машины</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.ClientsOfCarWash.NumderCar)
                        </label>

                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">Марка/Модель</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.ClientsOfCarWash.car_mark.name) @Html.DisplayFor(model => model.ClientsOfCarWash.car_model.name)
                        </label>

                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">Тип кузова</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.ClientsOfCarWash.CarBody.Name)
                        </label>

                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">Ф.И.О</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.ClientsOfCarWash.Surname) @Html.DisplayFor(model => model.ClientsOfCarWash.Name)  @Html.DisplayFor(model => model.ClientsOfCarWash.PatronymicName)
                        </label>
                    </div>

                    <div class="form-group row">
                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">Tel</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.ClientsOfCarWash.phone)
                        </label>

                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">orderStatus</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.StatusOrder1.StatusOrder1)
                        </label>

                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">OrderPrice</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.TotalCostOfAllServices)
                        </label>

                        <label for="fname" class="col-sm-1 text-right control-label col-form-label">Date</label>
                        <label for="fname" class="col-sm-2 text-right control-label col-form-label">
                            @Html.DisplayFor(model => model.OrderDate)
                        </label>
                    </div>

                </div>
            </form>
        </div>

        @*<div class="border-top">
                <div class="card-body">
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>*@
        @*<p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.ib }) |
                @Html.ActionLink("Back to List", "Index")
            </p>*@

    </div>
</div>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body col-md-6">
                    <h5 class="card-title m-b-0">OrderServices</h5>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>

                                <th>
                                    <label class="customcheckbox m-b-20">
                                        <input type="checkbox" id="mainCheckbox" />
                                        <span class="checkmark"></span>
                                    </label>
                                </th>


                                <th scope="col">validity</th>
                                <th scope="col">Body</th>
                            </tr>
                        </thead>
                        <tbody class="customtable">
                            @foreach (var item in ViewBag.ServisesInfo)
                            {
                                <tr>

                                    <th>
                                        <label class="customcheckbox">
                                            @*<input type="checkbox" class="listCheckbox" />*@
                                            <input type="checkbox" name="chkRow" value="@item.Id" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>


                                    <td>@item.Detailings.services_list</td>

                                    <td>@item.Price</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <input class="btn btn-outline-info" type="submit" id="btnCreate" value="Create" @Url.Action("OrderPreview", "ClientsOfCarWashViews") />

}

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
