@model CarDetailingStudio.Models.ModelViews.OrderCarpetWashingView
<link href="~/Content/custom.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-6">

                    @if (@ViewBag.IdPage == 2)
                    {
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">О заказе</h5>

                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>@Html.Label("ФИО")</td>
                                            <td>@ViewBag.ClientInfo.Surname @ViewBag.ClientInfo.Name @ViewBag.ClientInfo.PatronymicName</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.Label("Телефон")</td>
                                            <td>@ViewBag.ClientInfo.Phone</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.LabelFor(model => model.area)</td>
                                            <td>@Html.DisplayFor(model => model.area)</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.LabelFor(model => model.OrderServicesCarWash.DiscountPrice)</td>
                                            <td>@Html.DisplayFor(model => model.OrderServicesCarWash.DiscountPrice)</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.LabelFor(model => model.orderDate)</td>
                                            <td>@Html.DisplayFor(model => model.orderDate)</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.LabelFor(model => model.orderCompletionDate)</td>
                                            <td>@Html.DisplayFor(model => model.orderCompletionDate)</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Cпособ оплаты\Выбор сотрудника для выполнения услуг</h5>
                                <div class="clearfix"></div>
                                <hr />
                                <div class="pull-right m-t-30 text-right">
                                    <div class="row">
                                        @if (ViewBag.BrigateOrder == null)
                                        {
                                            <div class="col-6">
                                                @foreach (var item in ViewBag.Adninistrator)
                                                {
                                                    <div class="d-flex flex-row comment-row m-t-0">

                                                        <div class="checkbox">
                                                            <text><input type="checkbox" name="idAdmin" value="@item.CarWashWorkers.id" /></text>
                                                        </div>

                                                        <div class="comment-text w-100">
                                                            <h6 class="font-medium"> @item.CarWashWorkers.Surname @item.CarWashWorkers.Name </h6>
                                                            <span class="m-b-15 d-block">@item.CarWashWorkers.JobTitleTable.Position</span>
                                                        </div>

                                                    </div>
                                                    <hr />
                                                }
                                            </div>
                                            <hr />
                                            <div class="col-6">
                                                @foreach (var item in ViewBag.Brigade)
                                                {
                                                    <div class="d-flex flex-row comment-row m-t-0">

                                                        <div class="checkbox">
                                                            <text><input type="checkbox" name="idBrigade" value="@item.CarWashWorkers.id" /></text>
                                                        </div>

                                                        <div class="comment-text w-100">
                                                            <h6 class="font-medium"> @item.CarWashWorkers.Surname @item.CarWashWorkers.Name </h6>
                                                            <span class="m-b-15 d-block">@item.CarWashWorkers.JobTitleTable.Position</span>
                                                        </div>

                                                    </div>
                                                    <hr />
                                                }

                                            </div>
                                        }

                                        <hr />

                                        <div class="card-body">

                                            <div class="pull-right m-t-30 text-right">
                                                <hr />
                                                <div class="row">
                                                    @if (ViewBag.BrigateOrder == null)
                                                    {
                                                        <div class="col-md-6">
                                                            <div>
                                                                @Html.DropDownList("idPaymentState", new List<SelectListItem>
                                                                   {
                                                                       new SelectListItem{ Text = "Ожидает оплаты", Value = "3"},
                                                                       new SelectListItem { Text = "Наличный расчёт", Value = "1"},
                                                                       new SelectListItem{ Text = "Безналичный расчёт", Value = "2"},
                                                                   }, new { @class = "form-control" })
                                                            </div>
                                                        </div>
                                                    }
                                                    <div class="col-md-6">
                                                        @if (ViewBag.ResultPay == 1)
                                                        {
                                                            <h3><b>Оплаченно: @ViewBag.Sum </b><span name="errmsg" id="errmsg"></span>грн. (Наличный расчёт)</h3>
                                                        }
                                                        else if (ViewBag.ResultPay == 2)
                                                        {
                                                            <h3><b>Оплаченно: @ViewBag.Sum</b><span name="errmsg" id="errmsg"></span>грн.  (Безналичный расчёт)</h3>
                                                        }
                                                        else if (ViewBag.ResultPay == 3)
                                                        {
                                                            <h3><b>Ожидает оплаты: @ViewBag.Sum </b><span name="errmsg" id="errmsg"></span>грн.</h3>
                                                        }


                                                        <input type="hidden" id="sumOrder" value="" name="sum" />

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <hr />
                                            <div class="text-right">
                                                <input type="hidden" value="@ViewBag.IdPage" name="idPage" />
                                                <input type="hidden" value="@ViewBag.ResultPay" name="PaymentState" />
                                                <input type="submit" value="Закрыть заказ" class="btn btn-default" />
                                                @Html.ActionLink("Вернуться на главную", "Index", null, new { @class = "btn btn-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title m-b-0">Оформление заказа на чистку\мойку ковров</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.idOrderCarpetWashing)

                                    <div class="form-horizontal">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>@Html.Label("ФИО")</td>
                                                    <td>@ViewBag.ClientInfo.Surname @ViewBag.ClientInfo.Name @ViewBag.ClientInfo.PatronymicName</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.Label("Телефон")</td>
                                                    <td>@ViewBag.ClientInfo.Phone</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.LabelFor(model => model.area)</td>
                                                    <td>@Html.DisplayFor(model => model.area)</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.LabelFor(model => model.OrderServicesCarWash.DiscountPrice)</td>
                                                    <td>@Html.DisplayFor(model => model.OrderServicesCarWash.DiscountPrice)</td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.LabelFor(model => model.orderDate)</td>
                                                    <td>@Html.DisplayFor(model => model.orderDate)</td>
                                                </tr>
                                                <tr>
                                                    @if (Model.orderCompletionDate != null)
                                                    {
                                                        <td>@Html.LabelFor(model => model.orderCompletionDate)</td>
                                                        <td>@Html.DisplayFor(model => model.orderCompletionDate)</td>
                                                    }
                                                    else
                                                    {
                                                        <td>@Html.LabelFor(model => model.orderCompletionDate)</td>
                                                        <td>
                                                            @Html.EditorFor(model => model.orderCompletionDate, new { htmlAttributes = new { @class = "form-control" } })
                                                         
                                                        </td>
                                                    }
                                                </tr>

                                            </tbody>
                                        </table>

                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="hidden" value="@ViewBag.IdPage" name="idPage" />
                                                <input type="submit" value="Save" class="btn btn-default" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        }
    </div>
</div>
