@model CarDetailingStudio.Models.ModelViews.OrderCarpetWashingView

<link href="~/Content/form.css" rel="stylesheet" />
<link href="~/Content/input.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Заказчик</h5>
                            <hr />
                        </div>
                        <div class="card-body">
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-9">
                                        <label for="exampleInputEmail1">@ViewBag.Client.Surname @ViewBag.Client.Name @ViewBag.Client.PatronymicName</label>
                                    </div>
                                    <div class="col-3">
                                        <label class="comment-text w-100" for="exampleInputEmail1">tel. @ViewBag.Client.Phone</label>
                                    </div>

                                </div>
                                <hr />
                            </div>

                        </div>

                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Оформление заказа на чистку\мойку ковров</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">
                                        @Html.LabelFor(model => model.area)
                                    </label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.area, new { htmlAttributes = new { @class = "form-control", id = "quantity", value = @Request.Form["area"] } })
                                        @Html.ValidationMessageFor(model => model.area, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">
                                        @Html.LabelFor(model => model.orderDate)
                                    </label>
                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.orderDate, new { htmlAttributes = new { @class = "form-control", value = @Request.Form["orderDate"] } })
                                        @Html.ValidationMessageFor(model => model.orderDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                  

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title m-b-0">Cпособ оплаты\Выбор сотрудника для выполнения услуг</h5>
                            <div class="clearfix"></div>
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox" name="chooseEmployee" value="true" /> Выбрать исполнителя
                            </div>
                            <hr />
                            <div class="pull-right m-t-30 text-right">
                                <div class="row">
                                    <div class="col-6" id="Adninistrator" style="display: none;">
                                        @foreach (var item in ViewBag.Adninistrator)
                                        {
                                            <div class="d-flex flex-row comment-row m-t-0">

                                                <div class="checkbox">
                                                    <text><input type="checkbox" name="idAdmin" value="@item.CarWashWorkers.id" /></text>
                                                </div>

                                                <div class="comment-text w-100">
                                                    <h6 class="font-medium"> @item.CarWashWorkers.Surname @item.CarWashWorkers.Name </h6>
                                                    <span class="m-b-15 d-block">@item.CarWashWorkers.JobTitleTable.Position</span>
                                                </div>
                                            </div>
                                            <hr />
                                        }
                                    </div>
                                    <hr />
                                    <div class="col-6" id="Brigade" style="display: none;">
                                        @foreach (var item in ViewBag.Brigade)
                                        {
                                            <div class="d-flex flex-row comment-row m-t-0">

                                                <div class="checkbox">
                                                    <text><input type="checkbox" name="idBrigade" value="@item.CarWashWorkers.id" /></text>
                                                </div>

                                                <div class="comment-text w-100">
                                                    <h6 class="font-medium"> @item.CarWashWorkers.Surname @item.CarWashWorkers.Name </h6>
                                                    <span class="m-b-15 d-block">@item.CarWashWorkers.JobTitleTable.Position</span>
                                                </div>
                                            </div>
                                            <hr />
                                        }
                                    </div>
                                    <hr />

                                    <div class="card-body">
                                        <div class="pull-right m-t-30 text-right">
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div  id="pay" style="display: none;">
                                                        @Html.DropDownList("idPaymentState", new List<SelectListItem>
                                                           {
                                                               new SelectListItem{ Text = "Ожидает оплаты", Value = "3"},
                                                               new SelectListItem { Text = "Наличный расчёт", Value = "1"},
                                                               new SelectListItem{ Text = "Безналичный расчёт", Value = "2"},
                                                           }, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <h3><b>Итого: </b><span name="errmsg" id="errmsg"></span>грн.</h3>

                                                    <input type="hidden" id="sumOrder" value="" name="sum" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr />
                                        <div class="text-right">
                                            <input type="hidden" value="@ViewBag.Client.Id" name="clientId" />
                                            <input type="submit" value="Оформить заказ" class="btn btn-default" />
                                            @Html.ActionLink("Вернуться на главную", "Index", null, new { @class = "btn btn-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">
                    <div class="card-body">
                        <img src="~/Images/img/carpet-cleaning-services-westbury-new-york.png" class="mx-auto img-fluid">
                    </div>
                </div>
            </div>
        }

    </div>
</div>


<script>
    $('#checkbox').click(function () {
        if ($(this).is(':checked')) {
            $('#Adninistrator').show(100);
            $('#Brigade').show(100);
            $('#pay').show(100)
        } else {
            $('#Adninistrator').hide(100);
            $('#Brigade').hide(100);
            $('#pay').hide(100)
        }
    });
</script>

<script>
    $('#quantity').keyup(function () {
        var Value = $('#quantity').val();
        var sum = parseFloat(Value.replace(',', '.')) * @ViewBag.Servises.S;
        $('#errmsg').empty();
        $('#errmsg').text(sum);
         $('#sumOrder').empty();
        $('#sumOrder').val("newval");
    });
</script>