 @model IEnumerable<CarDetailingStudio.Models.ModelViews.CarWashWorkersView>

@{
    Layout = "~/Views/Shared/_Login.cshtml";
}

<link href="~/Content/car-wash-workers.css" rel="stylesheet" />

<div class="col-lg-12">
    <div>
        <div class="card-body">
            <h4 class="card-title">Формирование смены</h4>
        </div>

        <div class="comment-widgets scrollable">
            @using (Html.BeginForm())
            {
                foreach (var item in Model)
                {
                    <!-- Comment Row -->
                    <div class="d-flex flex-row comment-row m-t-0">

                        <div class="custom-control custom-checkbox">
                            <text><input type="checkbox" name="chkRow" value="@item.id" /></text>
                        </div>
                        <div class="p-2"><img src="~/Images/users/User.png" alt="user" width="50" class="rounded-circle"></div>

                        <div class="comment-text w-100">
                            <h6>@Html.DisplayFor(modelItem => item.Name, new { @class = "font-medium" })  @Html.DisplayFor(modelItem => item.Surname, new { @class = "font-medium" })  @Html.DisplayFor(modelItem => item.Patronymic, new { @class = "font-medium" }) </h6>

                            <span>@Html.DisplayFor(modelItem => item.JobTitleTable.Position, new { @class = "m-b-15 d-block" })</span>
                        </div>
                    </div>
                }
                <input class="btn btn-outline-info" type="submit" id="btnCreate" value="Create" />
            }
        </div>
    </div>
</div>