@model IEnumerable<CarDetailingStudio.Models.ModelViews.CarWashWorkersView>

@{
    ViewBag.Title = "Staff";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="card-title m-b-0">Персонал</h5>
                    </div>
                    <div class="col-md-6 text-right">
                        @Html.ActionLink("Добавить нового сотрудника", "AddEmployee", null, new { @class = "btn btn-info" })
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Surname)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Patronymic)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MobilePhone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Experience)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AdministratorsInterestRate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InterestRate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataRegistration)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DataDismissal)
                            </th>

                            <th>
                                @Html.DisplayNameFor(model => model.IdPosition)
                            </th>
                            <th>Назначение услуги/Заработная плата</th>
                            <th>Action</th>
                        </tr>
                    </thead>

                    @foreach (var item in Model)
                    {
                        if (item.status == "false")
                        {
                            <tr class="table-danger">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Patronymic)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MobilePhone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Experience)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AdministratorsInterestRate)%
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InterestRate)%
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataRegistration)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataDismissal)
                                </td>


                                <td>
                                    @Html.DisplayFor(modelItem => item.JobTitleTable.Position)
                                </td>
                                <td>
                                    @Html.ActionLink("Назначить", "EducationOfWages", new { id = item.id })
                                </td>
                                <td>
                                    @Html.ActionLink("Редактировать", "EditEmployee", new { id = item.id }) |
                                    @Html.ActionLink("Выполненные заказы", "EmployeeWorkDays", new { idEmploye = item.id })

                                </td>

                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Surname)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Patronymic)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MobilePhone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Experience)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AdministratorsInterestRate)%
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InterestRate)%
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataRegistration)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataDismissal)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.JobTitleTable.Position)
                                </td>
                                <td>
                                    @Html.ActionLink("Назначить", "EducationOfWages", new { id = item.id })
                                </td>
                                <td>
                                    @Html.ActionLink("Редактировать", "EditEmployee", new { id = item.id }) |
                                    @Html.ActionLink("Выполненные заказы", "EmployeeWorkDays", new { idEmploye = item.id })
                                </td>
                            </tr>
                        }
                    }

                </table>
            </div>
        </div>
    </div>
</div>


