@model IEnumerable<CarDetailingStudio.Models.ModelViews.BrigadeForTodayView>

<link href="~/Content/brigade-for-today.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h4 class="card-title">Сотрудники</h4>
                    </div>

                </div>
            </div>


            <div class="comment-widgets scrollable">
                <!-- Comment Row -->

                @foreach (var item in Model.Where(x => x.CarWashWorkers.IdPosition > 2))
                {
                    <div class="d-flex flex-row comment-row m-t-0">
                        <div class="p-2"><img src="~/Images/users/User.png" alt="user" width="50" class="rounded-circle"></div>
                        <div class="comment-text w-100">
                            <h6 class="font-medium"> @Html.DisplayFor(model => item.CarWashWorkers.Surname) @Html.DisplayFor(model => item.CarWashWorkers.Name) </h6>
                            <span class="m-b-15 d-block">@Html.DisplayFor(model => item.CarWashWorkers.JobTitleTable.Position) | Тел. +38 @Html.DisplayFor(model => item.CarWashWorkers.MobilePhone)</span>

                            <div class="comment-footer">
                                <span class="text-muted float-right">@DateTime.Now.ToString("dd MMMM")</span>

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    @Html.ActionLink("Details", "EmployeeInformation", new { id = item.IdCarWashWorkers }, new { @class = "btn btn-success btn-sm" })
                                    <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                                    <input value=@item.id name="id" type="hidden" />
                                }

                            </div>
                            <div class="m-t-20">
                                <div class="d-flex no-block align-items-center">
                                    <span>Процент от заказа @item.CarWashWorkers.InterestRate%</span>
                                    <div class="ml-auto">
                                        <span>100</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: @item.CarWashWorkers.InterestRate%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>


        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h4 class="card-title">Администраторы</h4>
                    </div>

                </div>
            </div>


            <div class="comment-widgets scrollable">
                <!-- Comment Row -->

                @foreach (var item in Model.Where(x => x.CarWashWorkers.IdPosition <= 2))
                {
                    <div class="d-flex flex-row comment-row m-t-0">
                        <div class="p-2"><img src="~/Images/users/User.png" alt="user" width="50" class="rounded-circle"></div>
                        <div class="comment-text w-100">
                            <h6 class="font-medium"> @Html.DisplayFor(model => item.CarWashWorkers.Surname) @Html.DisplayFor(model => item.CarWashWorkers.Name) </h6>
                            <span class="m-b-15 d-block">@Html.DisplayFor(model => item.CarWashWorkers.JobTitleTable.Position) | Тел. +38 @Html.DisplayFor(model => item.CarWashWorkers.MobilePhone)</span>

                            <div class="comment-footer">
                                <span class="text-muted float-right">@DateTime.Now.ToString("dd MMMM")</span>

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()


                                    @Html.ActionLink("Details", "EmployeeInformation", new { id = item.IdCarWashWorkers }, new { @class = "btn btn-success btn-sm" })
                                    <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
                                    <input value=@item.id name="id" type="hidden" />
                                }

                            </div>
                            <div class="m-t-20">
                                <div class="d-flex no-block align-items-center">
                                    <span>Процент от заказа @item.CarWashWorkers.InterestRate%</span>
                                    <div class="ml-auto">
                                        <span>100</span>
                                    </div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped" role="progressbar" style="width: @item.CarWashWorkers.InterestRate%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>

        <div class="card">
            <div class="card-body">

                <div class="clearfix"></div>
                <hr>
                <div class="text-right">
                    @Html.ActionLink("Добавить к смене", "Index", "CarWashWorkersViews", new { @class = "card-title" }, new { @class = "btn btn-info" })
                </div>

            </div>
        </div>
    </div>
</div>
