
<p>AdministratorCarWash</p>
<table>
    @foreach (var item in ViewBag.AdministratorCarWash)
    {
        <tr>
            <td>@item.Payroll</td>
            <td>@item.IdCarWashWorkers</td>
        </tr>
    }
</table>
@ViewBag.AdministratorSum
<hr />
<p>AdministratorDetailings</p>
<table>
    @foreach (var item in ViewBag.AdministratorDetailings)
    {
        <tr>
            <td>@item.Payroll</td>
            <td>@item.IdCarWashWorkers</td>
        </tr>
    }
</table>
<hr />
<p>StaffCarWashWorker</p>
<table>
    @foreach (var item in ViewBag.StaffCarWashWorker)
    {
        <tr>
            <td>@item.Payroll</td>
            <td>@item.IdCarWashWorkers</td>
        </tr>
    }
</table>
<hr />

<p>StaffDetailing</p>
<table>
    @foreach (var item in ViewBag.StaffDetailing)
    {
        <tr>
            <td>@item.Payroll</td>
            <td>@item.IdCarWashWorkers</td>
        </tr>
    }
</table>
<hr />
<p>AdministratorCarpetWashing</p>
<table>
    @foreach (var item in ViewBag.AdministratorCarpetWashing)
    {
        <tr>
            <td>@item.Payroll</td>
            <td>@item.IdCarWashWorkers</td>
        </tr>
    }
</table>
<hr />
<p>StaffCarpetWashing</p>
<table>
    @foreach (var item in ViewBag.StaffCarpetWashing)
    {
        <tr>
            <td>@item.Payroll</td>
            <td>@item.IdCarWashWorkers</td>
        </tr>
    }
</table>

