@* Форма выбора даты *@
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("MonthlyReport", "Analytics", FormMethod.Post))
                {
                    <div class="input-group">
                        <input type="date" name="startdateViewUser" class="form-control" />
                        <input type="date" name="finaldateViewUser" class="form-control" />
                        <div class="input-group-append">
                            <input type="submit" name="submit" class="btn btn-outline-secondary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card card-body printableArea">
            <div class="row">
                <div class="col-md-12">

                    <div class="pull-left">
                        <div class="pull-left">
                            <address>
                                <h3> &nbsp;<b class="text-danger"></b></h3>
                                <p class="text-muted m-l-5">
                                    Детейлинг студия "Motor Clean"
                                    <br /> вулиця Велика Кільцева, 97
                                    <br /> Харків - 61000
                                    <br /> +380988283456
                                </p>
                            </address>
                        </div>
                        <div class="pull-right text-right">
                            <address>
                                <p class="m-t-30"><b>Invoice Date :</b> <i class="fa fa-calendar"></i> @ViewBag.StartDate</p>
                                @if (ViewBag.FinalDate != null)
                                {
                                    <p><b>Due Date :</b> <i class="fa fa-calendar"></i> @ViewBag.FinalDate</p>
                                }
                            </address>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive m-t-40" style="clear: both;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Наименования</th>
                                        <th class="text-right">Отчеты</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @* ----------------------------------------------------------------------------------- *@
                                    <tr>
                                        <td colspan="3" class="text-center"><b class="text-danger">Мойка</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Количество Авто</td>
                                        <td class="text-right">@ViewBag.OrderCount шт.</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 2, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>Касса мойки</a></td>
                                        <td class="text-right">@ViewBag.OrderCarWashSum  грн. </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td>Количество ковров</td>
                                        <td class="text-right"> @ViewBag.CauntCarpet шт.</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 3, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>Касса ковров</a></td>
                                        <td class="text-right"> @ViewBag.CarpetOrder грн.</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/DetailsOfSalaries", new { typeOfEmployees = 2, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>ЗП администратора (авто + ковры)</a></td>
                                        <td class="text-right"> @ViewBag.AdministratorCarWash грн. </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">5</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/DetailsOfSalaries", new { typeOfEmployees = 5, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>ЗП автомойщиков (авто + ковры)</a></td>
                                        <td class="text-right"> @ViewBag.StaffCarWashWorker грн. </td>
                                    </tr>

                                    @* ----------------------------------------------------------------------------------- *@
                                    @*<tr>
            <td colspan="3" class="text-center"><b class="text-danger">Стирка ковров</b></td>
        </tr>
        <tr>
            <td class="text-center">1</td>
            <td>Касса за мойку ковров</td>
            <td class="text-right"> @ViewBag.CarpetOrder грн.</td>
        </tr>
        <tr>
            <td class="text-center">2</td>
            <td>Количество заказов</td>
            <td class="text-right"> @ViewBag.CauntCarpet шт.</td>
        </tr>*@
                                    @*<tr>
            <td class="text-center">3</td>
            <td>ЗП администратора</td>
            <td class="text-right">@ViewBag.AdminCarpet грн. </td>
        </tr>
        <tr>
            <td class="text-center">4</td>
            <td>ЗП Сотрудника</td>
            <td class="text-right"> @ViewBag.StaffCarpet грн. </td>
        </tr>*@

                                    @* ----------------------------------------------------------------------------------- *@
                                    <tr>
                                        <td colspan="3" class="text-center"><b class="text-danger">Детейлинг</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Количество Авто</td>
                                        <td class="text-right">@ViewBag.CarCountDetailings шт.</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 1, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>Касса детейлинга</a></td>
                                        <td class="text-right">@ViewBag.OrderDetailingsSum  грн. </td>
                                    </tr>

                                    <tr>
                                        <td class="text-center">4</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/DetailsOfSalaries", new { typeOfEmployees = 1, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>ЗП администратора детейлинга</a></td>
                                        <td class="text-right"> @ViewBag.AdministratorDetailings грн. </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">5</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/DetailsOfSalaries", new { typeOfEmployees = 4, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>ЗП детейлинга</a></td>
                                        <td class="text-right"> @ViewBag.StaffDetailing грн. </td>
                                    </tr>


                                    @* ----------------------------------------------------------------------------------- *@
                                    <tr>
                                        <td colspan="3" class="text-center"><b class="text-danger">Заказы ожидающие оплату</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Сумма заказов ожидающих оплат</td>
                                        <td class="text-right"> @ViewBag.NumberOfUnpaidOrders грн. </td>
                                    </tr>


                                    @* ----------------------------------------------------------------------------------- *@

                                    <tr>
                                        <td colspan="3" class="text-center"><b class="text-danger">Внимание!!! Шиномантаж в итог дня не входит<b /> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Количество заказов шиномонтажа</td>
                                        <td class="text-right">@ViewBag.CauntTire шт.</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 4, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>Касса шиномантаж</a></td>
                                        <td class="text-right">@ViewBag.TireOrders  грн. </td>
                                    </tr>

                                    <tr>
                                        <td class="text-center">4</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/DetailsOfSalaries", new { typeOfEmployees = 9, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>ЗП администратора </a></td>
                                        <td class="text-right"> @ViewBag.AdministratorTire грн. </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">5</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/DetailsOfSalaries", new { typeOfEmployees = 10, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>ЗП Сотрудников </a></td>
                                        <td class="text-right"> @ViewBag.StaffTire грн. </td>
                                    </tr>


                                    @* ----------------------------------------------------------------------------------- *@
                                    <tr>
                                        <td colspan="3" class="text-center"><b class="text-danger">Расходы</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Сумма всех расходов</td>
                                        <td class="text-right"> @ViewBag.TotalCosts грн. </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Выплаченно заработной платы</td>
                                        <td class="text-right"> @ViewBag.SalaryExpensesDay грн. </td>
                                    </tr>
                                    @* ----------------------------------------------------------------------------------- *@
                                    <tr>
                                        <td colspan="3" class="text-center"><b class="text-danger">Доход по категориям</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Наличный</td>
                                        <td class="text-right"> @ViewBag.Cash грн. </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Безналичный</td>
                                        <td class="text-right"> @ViewBag.NonCash грн. </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="clearfix"></div>
                        <hr>
                        <div class="pull-right m-t-30 text-right">
                            @*<p>Итог доход:  @ViewBag.TotalIncome грн.</p>
                            <p>Итог расход:  @ViewBag.TotalCosts грн.</p>
                            <hr>*@
                            @*<p>Итого расходы на зарплату: @ViewBag.TotalSalaryExpenses грн.</p>
                            <p>Итого выплаченно заработной платы: @ViewBag.SalaryExpensesDay грн.</p>
                            <hr>
                            <p>Итого выплаченно заработной платы: @ViewBag.TotalSalaryExpenses грн.</p>
                            <hr>*@
                            @*<h3><b>Остаток с учетом выплаченной ЗП:</b> @ViewBag.TotalCash грн.</h3>*@
                            <h3><b>Итого:</b> @ViewBag.TotalCash грн.</h3>
                            @*<h3><b>Остаток:</b> @ViewBag.Total грн.</h3>*@
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>