@model CarDetailingStudio.Models.AnalyticsView.AnalyticsFull
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                @using (Html.BeginForm("MonthlyReport", "Analytics", FormMethod.Post))
                {
                    <div class="input-group">
                        <input type="date" name="startdateViewUser" class="form-control" />
                        <input type="date" name="finaldateViewUser" class="form-control" />
                        <div class="input-group-append">
                            <input type="submit" name="submit" class="btn btn-outline-secondary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card card-body printableArea">
            <div class="row">
                <div class="col-md-12">

                    <div class="pull-left">
                        <div class="pull-left">
                            <address>
                                <h3> &nbsp;<b class="text-danger"></b></h3>
                                <p class="text-muted m-l-5">
                                    Детейлинг студия "Motor Clean"
                                    <br /> вулиця Велика Кільцева, 97
                                    <br /> Харків - 61000
                                    <br /> +380988283456
                                </p>
                            </address>
                        </div>
                        <div class="pull-right text-right">
                            <address>
                                <p class="m-t-30"><b>Invoice Date :</b> <i class="fa fa-calendar"></i> @ViewBag.StartDate</p>
                                @if (ViewBag.FinalDate != null)
                                {
                                    <p><b>Due Date :</b> <i class="fa fa-calendar"></i> @ViewBag.FinalDate</p>
                                }
                            </address>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="table-responsive m-t-40" style="clear: both;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Наименования</th>
                                        <th class="text-right">Отчеты</th>
                                        <th class="text-right">Наличные</th>
                                        <th class="text-right">Безналичные</th>
                                        <th class="text-right">Неоплаченные</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @* ----------------------------------------------------------------------------------- *@
                                    <tr>
                                        <td colspan="6" class="text-center"><b class="text-danger">Мойка</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Количество Авто</td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewResult.completedOrders.Washing.SumQuantitiesAndOrdersAwaitingPaymentQuantites) шт.</td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewNoCash.completedOrders.Washing.Quantities) шт.</td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewCash.completedOrders.Washing.Quantities) шт.</td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewResult.completedOrders.Washing.OrdersAwaitingPaymentQuantites) шт.</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Касса мойки</td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 2, paymentState = 0, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewResult.completedOrders.Washing.SumCashierAndOrdersAwaitingPaymentCashier) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 2, paymentState = 1, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewNoCash.completedOrders.Washing.Cashier) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 2, paymentState = 2, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewCash.completedOrders.Washing.Cashier) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 2,  paymentState = 0, statusOrder = 4, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewResult.completedOrders.Washing.OrdersAwaitingPaymentCashier) грн.
                                            </a>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="text-center">5</td>
                                        <td>Количество ковров</td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.completedOrders.CarpetWashing.SumQuantitiesAndOrdersAwaitingPaymentQuantites) шт.</td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewCash.completedOrders.CarpetWashing.Quantities) шт.</td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewNoCash.completedOrders.CarpetWashing.Quantities) шт.</td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.completedOrders.CarpetWashing.OrdersAwaitingPaymentQuantites)шт.</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">6</td>
                                        <td>Касса ковров</td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 3, paymentState = 0, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewResult.completedOrders.CarpetWashing.SumCashierAndOrdersAwaitingPaymentCashier) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 3, paymentState = 1, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewNoCash.completedOrders.CarpetWashing.Cashier) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 3, paymentState = 2, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewCash.completedOrders.CarpetWashing.Cashier) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 3, paymentState = 0, statusOrder = 4, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewResult.completedOrders.CarpetWashing.OrdersAwaitingPaymentCashier) грн.
                                            </a>
                                        </td>
                                    </tr>


                                    <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                        <td class="text-center">9</td>
                                        <td><b>ЗП администратора (авто + ковры)</b></td>
                                        <td class="text-right"><b>  @Html.DisplayFor(model => model.SumWegesAdministrator) грн. </b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">9-1</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/WagesInfo", new { typeExpenses = 2, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>ЗП администратора мойки</a></td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.wagesForCompletedOrders.Washing.SalaryAdministrator) грн. </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">9-2</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/WagesInfo", new { typeExpenses = 3, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>ЗП администратора за услугу ковры</a></td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.wagesForCompletedOrders.CarpetWashing.SalaryAdministrator) грн. </td>
                                    </tr>

                                    <tr data-toggle="collapse" data-target="#demo2" class="accordion-toggle">
                                        <td class="text-center">10</td>
                                        <td><b>ЗП автомойщиков (авто + ковры)</b></td>
                                        <td class="text-right"> <b> @Html.DisplayFor(model => model.SumWegesEmployees) грн. </b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10-1</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/WagesInfo", new { typeExpenses = 5, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>ЗП сотрудника мойки</a></td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.wagesForCompletedOrders.Washing.SalaryEmployees) грн. </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">10-2</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/WagesInfo", new { typeExpenses = 6, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>ЗП сотрудника за услугу ковры </a></td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.wagesForCompletedOrders.CarpetWashing.SalaryEmployees) грн. </td>
                                    </tr>

                                    @* ----------------------------------------------------------------------------------- *@


                                    <tr>
                                        <td colspan="6" class="text-center"><b class="text-danger">Детейлинг</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Количество Авто</td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.completedOrders.Detailing.SumQuantitiesAndOrdersAwaitingPaymentQuantites) шт.</td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewCash.completedOrders.Detailing.Quantities) шт.</td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewNoCash.completedOrders.Detailing.Quantities) шт.</td>
                                        <td class="text-right">  @Html.DisplayFor(model => model.analyticsViewResult.completedOrders.Detailing.OrdersAwaitingPaymentQuantites) шт</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Касса детейлинга</td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 1, paymentState = 0, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewResult.completedOrders.Detailing.SumCashierAndOrdersAwaitingPaymentCashier)  грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 1, paymentState = 1, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewNoCash.completedOrders.Detailing.Cashier)  грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 1, paymentState = 2, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewCash.completedOrders.Detailing.Cashier)  грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 1,  paymentState = 0, statusOrder = 4, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewResult.completedOrders.Detailing.OrdersAwaitingPaymentCashier) грн.
                                            </a>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="text-center">5</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/WagesInfo", new { typeExpenses = 1, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>ЗП администратора детейлинга</a></td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.wagesForCompletedOrders.Detailing.SalaryAdministrator) грн. </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">6</td>
                                        <td><a class="link" href=@Url.Action("../Analytics/WagesInfo", new { typeExpenses = 4, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>ЗП детейлинга</a></td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.wagesForCompletedOrders.Detailing.SalaryEmployees) грн. </td>
                                    </tr>


                                    @* ----------------------------------------------------------------------------------- *@

                                    <tr>
                                        <td colspan="6" class="text-center"><b class="text-danger">Шиномантаж<b /> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Количество заказов шиномонтажа</td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewResult.completedOrders.TireFitting.SumQuantitiesAndOrdersAwaitingPaymentQuantites) шт.</td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewCash.completedOrders.TireFitting.Quantities) шт.</td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewNoCash.completedOrders.TireFitting.Quantities) шт.</td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.completedOrders.TireFitting.OrdersAwaitingPaymentQuantites) шт.</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Касса шиномантаж</td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 4, paymentState = 0, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewResult.completedOrders.TireFitting.SumCashierAndOrdersAwaitingPaymentCashier) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 4, paymentState = 1, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewNoCash.completedOrders.TireFitting.Cashier) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 4, paymentState = 2, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewCash.completedOrders.TireFitting.Cashier) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/DetailsAboutOrders", new { typeOrder = 4,  paymentState = 0, statusOrder = 4, start = @ViewBag.DateWhereStart, finlDate = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewResult.completedOrders.TireFitting.OrdersAwaitingPaymentCashier) грн.
                                            </a>
                                        </td>
                                    </tr>


                                    <tr>
                                        <td class="text-center">5</td>
                                        <td>
                                            <a class="link" href=@Url.Action("../Analytics/WagesInfo", new { typeExpenses = 9, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                ЗП администратора
                                            </a>
                                        </td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.wagesForCompletedOrders.TireFitting.SalaryAdministrator) грн. </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">6</td>
                                        <td>
                                            <a class="link" href=@Url.Action("../Analytics/WagesInfo", new { typeExpenses = 10, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                ЗП Сотрудников
                                            </a>
                                        </td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.wagesForCompletedOrders.TireFitting.SalaryEmployees) грн. </td>
                                    </tr>

                                    @*--------------------------------------------------------------------------------------*@
                                    <tr>
                                        <td colspan="6" class="text-center"><b class="text-danger">Хранение шин<b /> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Количество заказов </td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewResult.completedOrders.TireStorage.SumQuantitiesAndOrdersAwaitingPaymentQuantites) шт.</td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewCash.completedOrders.TireStorage.Quantities) шт.</td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewNoCash.completedOrders.TireStorage.Quantities) шт.</td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.completedOrders.TireStorage.OrdersAwaitingPaymentQuantites) шт.</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Касса хранение шин</td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewResult.completedOrders.TireStorage.SumCashierAndOrdersAwaitingPaymentCashier) грн. </td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewCash.completedOrders.TireStorage.Cashier) грн. </td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewNoCash.completedOrders.TireStorage.Cashier) грн. </td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewResult.completedOrders.TireStorage.OrdersAwaitingPaymentCashier) грн. </td>
                                    </tr>

                                    <tr>
                                        <td class="text-center">7</td>
                                        <td>
                                            <a class="link" href=@Url.Action("../Analytics/WagesInfo", new { typeExpenses = 7, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                ЗП администратора
                                            </a>
                                        </td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.wagesForCompletedOrders.TireStorage.SalaryAdministrator) грн. </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">8</td>
                                        <td>
                                            <a class="link" href=@Url.Action("../Analytics/WagesInfo", new { typeExpenses = 8, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                ЗП Сотрудников
                                            </a>
                                        </td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.wagesForCompletedOrders.TireStorage.SalaryEmployees) грн. </td>
                                    </tr>

                                    @* ----------------------------------------------------------------------------------- *@
                                    <tr>
                                        <td colspan="5" class="text-center"><b class="text-danger">Дополнительно к заработной плате<b /> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Премия</td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewResult.wagesForCompletedOrders.SumBonusTOSalary) грн.</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Ставка за день</td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewResult.wagesForCompletedOrders.SumEmployeeRate)  грн. </td>
                                    </tr>

                                    @* ----------------------------------------------------------------------------------- *@

                                    <tr>
                                        <td colspan="6" class="text-center"><b class="text-danger">Товары<b /> </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Количество проданных товаров</td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewResult.saleOfGoods.CauntGoodsSold) шт.</td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewNoCash.saleOfGoods.CauntGoodsSold) шт.</td>
                                        <td class="text-right">@Html.DisplayFor(model => model.analyticsViewCash.saleOfGoods.CauntGoodsSold) шт.</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Касса проданных товаров</td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/GoodsSoldInfo", new {  paymentState = 0, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewResult.saleOfGoods.SumGoodsSold)  грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/GoodsSoldInfo", new {  paymentState = 1, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewNoCash.saleOfGoods.SumGoodsSold)  грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/GoodsSoldInfo", new {  paymentState = 2, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewCash.saleOfGoods.SumGoodsSold)  грн.
                                            </a>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="text-center">4</td>
                                        <td>ЗП администратора </td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.analyticsViewResult.saleOfGoods.SumWagesAdminstrator)  грн. </td>
                                    </tr>
                                    @* ----------------------------------------------------------------------------------- *@
                                    <tr>
                                        <td colspan="6" class="text-center"><b class="text-danger">Дополнительный доход</b></td>
                                    </tr>
                                
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Касса автодом</td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/AdditionalIncomeInfo", new { category = "Касса автодом", paymentState = 0, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewResult.additionalIncome.CashierAvtomir) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/AdditionalIncomeInfo", new {  category = "Касса автодом", paymentState = 1, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewNoCash.additionalIncome.CashierAvtomir) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/AdditionalIncomeInfo", new {  category = "Касса автодом", paymentState = 2, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewCash.additionalIncome.CashierAvtomir) грн.
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>Касса автомир</td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/AdditionalIncomeInfo", new {  category = "Касса автомир", paymentState = 0, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                @Html.DisplayFor(model => model.analyticsViewResult.additionalIncome.CashierCaravan) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/AdditionalIncomeInfo", new {  category = "Касса автомир", paymentState = 1, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>

                                                @Html.DisplayFor(model => model.analyticsViewNoCash.additionalIncome.CashierCaravan) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/AdditionalIncomeInfo", new {  category = "Касса автомир", paymentState = 2, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>

                                                @Html.DisplayFor(model => model.analyticsViewCash.additionalIncome.CashierCaravan) грн.
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td>Касса химчистка Колер</td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/AdditionalIncomeInfo", new {  category = "Касса химчистка Колер", paymentState = 0, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>

                                                @Html.DisplayFor(model => model.analyticsViewResult.additionalIncome.CashierDryCleaningKohler) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/AdditionalIncomeInfo", new {  category = "Касса химчистка Колер", paymentState = 1, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>

                                                @Html.DisplayFor(model => model.analyticsViewCash.additionalIncome.CashierDryCleaningKohler) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/AdditionalIncomeInfo", new {  category = "Касса химчистка Колер", paymentState = 2, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>

                                                @Html.DisplayFor(model => model.analyticsViewNoCash.additionalIncome.CashierDryCleaningKohler) грн.
                                            </a>
                                        </td>
                                    </tr>

                                    @* ----------------------------------------------------------------------------------- *@
                                    <tr>
                                        <td colspan="6" class="text-center"><b class="text-danger">Расходы</b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Сумма всех расходов</td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/ExpensesGroup", new {  typeExpenses = 0, paymentState = 0, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                @Model.analyticsViewResult.expensesClassModels.Sum(s => s.Amount) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/ExpensesGroup", new {  typeExpenses = 0, paymentState = 1, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                @Model.analyticsViewNoCash.expensesClassModels.Sum(s => s.Amount) грн.
                                            </a>
                                        </td>
                                        <td class="text-right">
                                            <a class="link" href=@Url.Action("../Analytics/ExpensesGroup", new {  typeExpenses = 0, paymentState = 2, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                @Model.analyticsViewCash.expensesClassModels.Sum(s => s.Amount) грн.
                                            </a>
                                        </td>
                                    </tr>

                                    @foreach (var item in Model.analyticsViewResult.expensesClassModels)
                                    {
                                        <tr>
                                            <td class="text-center">1</td>
                                            <td>@item.expenseCategoryName</td>
                                            <td class="text-right">
                                                <a class="link" href=@Url.Action("../Analytics/ExpensesGroup", new {  typeExpenses = item.expenseCategoryId, paymentState = 0, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                    @item.Amount грн.
                                                </a>
                                            </td>

                                            @foreach (var itemCash in Model.analyticsViewNoCash.expensesClassModels)
                                            {
                                                if (item.expenseCategoryId == itemCash.expenseCategoryId)
                                                {
                                                    <td class="text-right">
                                                        <a class="link" href=@Url.Action("../Analytics/ExpensesGroup", new {  typeExpenses = item.expenseCategoryId, paymentState = 1, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                            @itemCash.Amount грн.
                                                        </a>
                                                    </td>
                                                    break;
                                                }
                                            }

                                            @foreach (var itemNoCash in Model.analyticsViewCash.expensesClassModels)
                                            {
                                                if (item.expenseCategoryId == itemNoCash.expenseCategoryId)
                                                {
                                                    <td class="text-right">
                                                        <a class="link" href=@Url.Action("../Analytics/ExpensesGroup", new {  typeExpenses = item.expenseCategoryId, paymentState = 2, dateStart = @ViewBag.DateWhereStart, dateFinal = @ViewBag.DateWhereFinal })>
                                                            @itemNoCash.Amount грн.
                                                        </a>
                                                    </td>
                                                    break;
                                                }
                                            }
                                        </tr>
                                    }

                                    @* ----------------------------------------------------------------------------------- *@
                                    <tr>
                                        <td colspan="6" class="text-center"><b class="text-danger">Касса начало дня  </b></td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Начало дня</td>
                                        <td></td>
                                        <td class="text-right"> @Html.DisplayFor(model => model.cashStartOfTheDay) грн. </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="text-center"><b class="text-danger">Итого</b></td>
                                    </tr>
                                </tbody>
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Наименования</th>
                                        <th class="text-right">Итого</th>
                                        <th class="text-right">Наличные</th>
                                        <th class="text-right">Безналичные</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td></td>
                                        <td class="text-right"><b>@Html.DisplayFor(model => model.CashEndDay) грн.</b> </td>
                                        <td class="text-right"><b>@Html.DisplayFor(model => model.CashEndDayNoCash) грн.</b> </td>
                                        <td class="text-right"> <b>@Html.DisplayFor(model => model.CashEndDayCash) грн.</b> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="clearfix"></div>
                        <hr>
                        <div class="pull-right m-t-30 text-right">

                            <h3><b>Сумма заказов ожидающих оплат: @Html.DisplayFor(model => model.SumPendingPayment)  грн</b></h3>

                            <h3><b>Итого Общая:</b> @Html.DisplayFor(model => model.CashEndDay)грн.</h3>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>