@model CarDetailingStudio.Models.CartIndexViewModels
<style>
    #cartTable td {
        vertical-align: middle;
    }
</style>

<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12">
        <div class="card card-body printableArea">
            <h3><b>Корзина</b> <span class="pull-right">заказа</span></h3>
            <br /><br />
            <div class="col-md-12">
                <div class="table-responsive m-t-40" style="clear: both;">
                    <table class="table table-hover" id="cartTable">
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th></th>
                                <th>Description</th>
                                <th class="text-right">Quantity</th>
                                <th class="text-right">Unit Cost</th>
                                <th class="text-right">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int number = 0;

                               foreach (var line in Model.Cart.Lines)
                                    {
                                        number += 1;
                                        <tr>

                                            <td class="text-center">@number</td>
                                            <td>
                                                @using (Html.BeginForm("RemoveFromCart", "Shop"))
                                                {
                                                    @Html.Hidden("ProductId", line.listOfGoodsView.idListOfGoods)
                                                    @Html.HiddenFor(x => x.ReturnUrl)
                                                    <input class="btn btn-sm btn-warning" type="submit" value="Удалить товар" />
                                                }
                                            </td>
                                            <td>@line.listOfGoodsView.name</td>
                                            <td class="text-right">@line.Quantity </td>
                                            <td class="text-right"> @line.listOfGoodsView.price грн. </td>
                                            <td class="text-right"> @((line.Quantity * line.listOfGoodsView.price).ToString()) грн. </td>

                                        </tr>
                                    }
                               
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            @using (Html.BeginForm("Basket", "Shop"))
            {
                <div class="col-md-12">
                    <div class="pull-right m-t-30 text-right">
                        <hr>

                        <h3><b>Total :</b> @Model.Cart.ComputeTotalValu().ToString() грн. </h3>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="row justify-content-end">
                        <div class="col-3">
                            @Html.DropDownList("formPayment", new List<SelectListItem>
                              {
                                  new SelectListItem{ Text = "Выберите форму оплаты", Value = "3"},
                                  new SelectListItem { Text = "Наличный расчёт", Value = "1"},
                                  new SelectListItem{ Text = "Безналичный расчёт", Value = "2"},
                              }, new { @class = "form-control" })

                        </div>
                    </div>
                    <hr />
                    <div class="text-right">
                        <button class="btn btn-facebook" type="submit"> Оформить </button>

                        <button class="btn btn-danger" type="submit"> Отменить </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>